					<div class="col-md-12 suathongtin">
                        <h4>{{translate('Thông tin tài khoản ngân hàng')}}</h4>
                        <h6>{{translate('(Trong trượng hợp hoàn tiền khi hủy chỗ)')}}</h6>
                        <hr/>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Số tài khoản')}}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="bank_account_form[account_number]"  id="bank_account_form_account_number"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Ngân hàng')}}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="bank_account_form[bank]"  id="bank_account_form_bank"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row suathongtin">
                            <label class="col-sm-2 control-label">{{translate('Chi nhánh')}}:</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="bank_account_form[branch]"  id="bank_account_form_branch"/>
                            </div>
                        </div>
                    </div>