<div class="col-md-12 suathongtin">
                        <h4>{{translate('Thông tin bổ sung')}}</h4>
                        <hr/>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Địa phương')}}:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>Hà Nội</option>
                                    <option>Hà Nội</option>
                                    <option>Hà Nội</option>
                                    <option>Hà Nội</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Giới tính')}}:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>{{translate('Nam')}}</option>
                                    <option>{{translate('Nữ')}}</option>
                                    <option>{{translate('Khác')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Mô tả phù hợp nhất về bạn')}}:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>{{translate('Học sinh/sinh viên')}}</option>
                                    <option>{{translate('Đã đi làm')}}</option>
                                    <option>{{translate('Người già')}}</option>
                                    <option>{{translate('Người khuyết tật')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Độ tuổi')}}:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>{{translate('Dưới 18 tuổi')}}</option>
                                    <option>{{translate('Từ 18 - 23')}}</option>
                                    <option>{{translate('Từ 23 - 40')}}</option>
                                    <option>{{translate('Trên 40 tuổi')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Tình trang hôn nhân')}}:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>{{translate('Độc thân')}}</option>
                                    <option>{{translate('Chưa kết hôn')}}</option>
                                    <option>{{translate('Đã kết hôn')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>