<div class="row statistical">
					<div class="col-md-4">
						<p>Khối lượng CO2 xả thải</p>
						<h4>12kg</h4>
					</div>
					<div class="col-md-4">
						<p>Khối lượng CO2 đã trung hòa</p>
						<h4>6kg</h4>
					</div>
					<div class="col-md-4">
						<p>Khối lượng CO2 còn lại</p>
						<h4>6kg</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 box_xs">
						<div class="account_info">
							<p class="h4">123456 <a><img src="img/arrow_small.png" style="vertical-align:1px"/></a></p>
							<p class="h6">4 ảnh <span class="space">&#8226;</span> 15/2/2015</p>
							{% include '_account_plan_slide.html' %}							
							<div class="id_info">
								<p><strong>Loại cây:</strong> </p>
								<p><strong>Số lượng:</strong> </p>
								<p><strong>Địa chỉ:</strong> </p>
								<p><strong>Tọa độ:</strong> </p>
								<p><strong>Mã giao dịch liên quan:</strong>  235648, 203458</p>
							</div>
						</div>
					</div>
				</div>