					<div class="col-md-12 suathongtin">
                        <h4>{{translate('Thông tin bắt buộc')}}</h4>
                        <hr/>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Tên đầy đủ')}}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="account_form_edit[name]"  id="account_form_edit_name">
                            </div>
                        </div>
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="account_form_edit[mail]"  id="account_form_edit_mail">
                            </div>
                        </div>
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Địa chỉ')}}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="account_form_edit[address]"  id="account_form_edit_address">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Mật khẩu')}}:</label>
                            <div class="col-sm-8">
                                <p>D********** <span class="add_text"><a data-toggle="modal" data-target="#sua">Sửa</a></span></p>
                            </div>
                        </div>
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">{{translate('Điện thoại')}}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="account_form_edit[phone]"  id="account_form_edit_phone">
                            </div>
                        </div>
                        <div class="row suathongtin">
                            <label class="col-sm-4 control-label">CMND:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="account_form_edit[id_card]"  id="account_form_edit_id_card">
                            </div>
                        </div>
                    </div>