<!-- _blog_menu.html -->
<div class="container box_xs">
		<div class="row">
			<div class="col-md-2 box_sm">
				<h3 class="blog_logo">BLOG</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="menu">
					<div class="row">
						<div class="col-md-12 menu-content">
							<table class="text-center" width="100%">
								<tr>
									<td class="active"><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
									<td>/</td>
									<td><a>Menu1</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>