<div class="row">
			<div class="col-md-12">
				<div class="thongtinchuyenbay">
					<div class="col-md-12">
						<h4>Bạn có biết</h4>
						<p>Chuyến đi của bạn dài 30km với thời gian dự tính 30 phút. Trong suốt chuyến đi của bạn lượng khí CO2 thải ra môi trường là: 0.009mg</p>
						<p>Là một doanh nghiệp xã hội, Dichung khuyến khích bạn sử dụng dịch vụ trung hòa khí thải ra môi trường.</p>
						<label for="booking_step1_balance"><input type="checkbox" value="balance" name="booking_step1[balance]"  id="booking_step1_balance"> Tôi đồng ý sử dụng dịch vụ trung hòa khí thải.</label>
						
					</div>
					<div class="col-md-12 balance_display">
						<select class="form-control" name="booking_step1[balance]"  id="booking_step1_balance">
							<option>Sử dụng dịch vụ 1</option>
							<option>Sử dụng dịch vụ 1</option>
						</select>
            
						<div class="row padding_top">
              <div class="col-md-12">
              <strong>Giới thiệu chương trình</strong>
                
                <p>Chuyến đi của bạn dài 30km với thời gian dự tính 30 phút. Trong suốt chuyến đi của bạn lượng khí CO2 thải ra môi trường là: 0.009mg
                  Là một doanh nghiệp xã hội, Dichung khuyến khích bạn sử dụng dịch vụ trung hòa khí thải ra môi trường.</p>
              </div>
              
						</div>
            
            <div class="row padding_top">
              <div class="col-md-12">
              <strong>Chọn  mức tài trợ</strong>
              </div>
							<div class="col-md-12">
								<label for="booking_step1_service1_1"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_1"> 500.000Đ</label>
							</div>
							<div class="col-md-12">
								<label for="booking_step1_service1_2"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_2"> 200.000Đ</label>
							</div>
							<div class="col-md-12">
								<label for="booking_step1_service1_3"><input value="balance" type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_3"> Khác </label>
								<div class="balance_display">
									<div class="input-group">
									  <input type="text" class="form-control text-right" aria-describedby="basic-addon2">
									  <span class="input-group-addon" id="basic-addon2">VNĐ</span>
									</div>
								</div>
							</div>
            </div>
					</div>					
					<!--<div class="col-md-12 box_sm balance_display">
						<div class="col-md-4">
							<div class="balance">
								<div><label for="booking_step1_service1"><input type="checkbox" value="dichvu1" name="booking_step1[service1]"  id="booking_step1_service1"> Tôi đồng ý sử dụng dịch vụ 1.</label></div>
								<div class="dichvu1">
									<div class="costs recommend">
										<label for="booking_step1_service1_1"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_1"> 500.000Đ</label>
									</div>
									<div class="costs">
										<label for="booking_step1_service1_2"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_2"> 200.000Đ</label>
									</div>
									<div class="costs">
									<label for="booking_step1_service1_3"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_3"> Khác </label>
									<input type="text" class="text-right"/> Đ
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="balance">
								<div><label for="booking_step1_service2"><input type="checkbox" value="dichvu2" name="booking_step1[service2]"  id="booking_step1_service2"> Tôi đồng ý sử dụng dịch vụ 2.</label></div>
								<div class="dichvu2">
									<div class="costs recommend">
										<label for="booking_step1_service2_1"><input type="radio" name="booking_step1[service2_2]"  id="booking_step1_service2_1"> 500.000Đ</label>
									</div>
									<div class="costs">
										<label for="booking_step1_service2_2"><input type="radio" name="booking_step1[service2_2]"  id="booking_step1_service2_2"> 200.000Đ</label>
									</div>
									<div class="costs">
									<label for="booking_step1_service1_3"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_3"> Khác </label>
									<input type="text" class="text-right"/> Đ
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="balance">
								<div><label for="booking_step1_service3"><input type="checkbox" value="dichvu3" name="booking_step1[service3]"  id="booking_step1_service3"> Tôi đồng ý sử dụng dịch vụ 3.</label></div>
								<div class="dichvu3">
									<div class="costs recommend">
										<label for="booking_step1_service3_1"><input type="radio" name="booking_step1[service3_3]"  id="booking_step1_service3_1"> 500.000Đ</label>
									</div>
									<div class="costs">
										<label for="booking_step1_service3_2"><input type="radio" name="booking_step1[service3_3]"  id="booking_step1_service3_2"> 200.000Đ</label>
									</div>
									<div class="costs">
									<label for="booking_step1_service1_3"><input type="radio" name="booking_step1[service1_1]"  id="booking_step1_service1_3"> Khác </label>
									<input type="text" class="text-right"/> Đ
									</div>
								</div>
							</div>
						</div>
					</div>-->
					<div style="clear:both"></div>
				</div>
			</div>
		</div>