<div class="row">
	<div class="col-md-4 padding_top">
		<label for="themdiachi1">
			<input type="checkbox" value="themdiachi1" id="themdiachi1"/> Tôi muốn đón thêm người tại địa chỉ khác
		</label>
	</div>
	<div class="col-md-8 col-sm-8 themdiachi1" id="hienthiItem" style="display:none">
		<div class="row" >
			<div class="col-md-11 col-sm-11 col-xs-11">
				<label class="col-md-2 control-label box_sm">Địa chỉ</label>
				<div class="col-md-10 box_xs">
					<input type="text" class="form-control"/>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1 box_xs" id="addnewitem">
				<a><img src="img/btn_add.png"></a>
			</div>
		</div>
	</div>
</div>