<div class="col-md-12">
                <div class="">
                    <h4>{{translate('Thông tin khách hàng')}}</h4>
                    <table width="100%">
                        <tr>
                            <td><p>{{translate('Họ tên')}}:</p></td>
                            <td><p>{{translate('Thời gian đặt')}}:</p></td>
                        </tr>
                        <tr>
                            <td><p>{{translate('Số điện thoại')}}:</p></td>
                            <td><p>Email:</p></td>
                        </tr>
                        <tr>
                            <td><p>{{translate('Địa chỉ')}}:</p></td>
                            <td><p>{{translate('Ghi chú')}}:</p></td>
                        </tr>
                    </table>
                </div>
            </div>