				<div class="row">
                    <div class="col-md-12">
                        <div class="thongtinchuyenbay box_xs col-md-12">
                    <p>- {{translate('Trong trường hợp bạn đi chung taxi, đối với chiều đi lên sân bay, taxi sẽ đến đón đúng địa điểm bạn yêu cầu trong khoảng thời gian +/-15 phút so với giờ bạn yêu cầu đón.')}}</p>
                    <p>- {{translate('Airport Taxi sẽ thông báo chính xác thời gian đón trước 45 phút so với giờ khởi hành bạn chọn, và bạn cần chuẩn bị để khởi hành sớm hơn 15 phút hoặc muộn hơn 15 phút.')}}</p>
                    <p>- {{translate('Đối với chiều về từ sân bay, thời gian chờ tối đa là 15 phút so với thời gian bạn yêu cầu đón tại sân bay.')}}</p>
                    <p>- {{translate('Địa điểm chờ là khu vực đón khách của Airrport Taxi, sảnh B, tầng 1, sân bay Nội bài.')}}</p>
                        </div>
                    </div>
                </div>