<!-- _booking_step1_selected_classify.html -->
<div class="col-md-offset-4 col-md-8">
		<div class="phanloai">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="row">
						<div class="text_box">
							<p class="padding_top">{{translate('Loại xe:')}}</p>
						</div>
						<div class="col-md-8">
							<select class="form-control">
								<option>{{translate('Xe 4 chỗ')}}</option>
								<option>{{translate('Xe 7 chỗ')}}</option>
								<option>{{translate('Xe 16 chỗ')}}</option>
							</select>
						</div>	
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="row">
						<div class="text_box">
							<p class="padding_top">{{translate('Số lượng:')}}</p>
						</div>
						<div class="col-md-6">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="text_box">
							<p class="padding_top">{{translate('Sắp xếp:')}}</p>
						</div>
						<div class="col-md-7">
							<select class="form-control">
								<option>{{translate('Theo giá')}}</option>
								<option>{{translate('Theo đánh giá')}}</option>
								<option>{{translate('Theo tên hãng')}}</option>
							</select>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>