				<td>
					<p>AirportTaxi</p>
					<p><small><a class="addition_text" data-toggle="modal" data-target="#brand_detail">{{translate('*****')}}<a><small></p>
				</td>
				<td>
					<img src="../img/cab/abc-taxi/abc-taxi-4-cho.png"/>
				</td>
				<td>
					150.000 VNĐ
				</td>
				<td>
					150.000 VNĐ
				</td>
				<td>
					<div class="radio book">
						<label for="book_noncheck_1">
							<input type="radio" name="chonxe" value="option1" id="book_noncheck_1" checked><span class="book_noncheck">Chọn</span>
						</label>
					</div>
				</td>
				

							