				<div class="row">
                    <div class="col-md-12">
                        <label for="invoice_form_enable">
							<input type="checkbox" value="hoadon" name="invoice_form[enable]"  id="invoice_form_enable"/> {{translate('Tôi muốn xuất hóa đơn')}}
						</label>
                    </div>
                    <div class="col-md-12 box_xs hoadon">
                        <div class="row">
                            <div class="col-md-6 padding_top">
                                <label for="invoice_form_compay_name">{{translate('Tên công ty')}}*:</label>
                                <input class="form-control" name="invoice_form[compay_name]" id="invoice_form_compay_name"/>
                            </div>
                            <div class="col-md-6 padding_top">
                                <label for="invoice_form_compay_address">{{translate('Địa chỉ công ty')}}*:</label>
                                <input class="form-control" name="invoice_form[compay_address]" id="invoice_form_compay_address"/>
                            </div>
                            <div class="col-md-6 padding_top">
                                <label for="invoice_form_tax_code">{{translate('Mã số thuế')}}*:</label>
                                <input class="form-control" name="invoice_form[tax_code]" id="invoice_form_tax_code"/>
                            </div>
                            <div class="col-md-6 padding_top">
                                <label for="invoice_form_invoice_address">{{translate('Địa chỉ nhận hóa đơn')}} <span class="hightlight">(?)</span> :</label>
                                <input class="form-control" name="invoice_form[invoice_address]" id="invoice_form_invoice_address"/>
                            </div>
                        </div>
                    </div>
                </div>