<div class="row">
                    <div class=" col-md-12">
                        <div class="thongtinchuyenbay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4>{{translate('Thông tin chuyến bay')}} (?)</h4>
                                        <h6><a href="">{{translate('Tra cứu chuyến bay')}}</a></h6>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12 padding_top">
                                                {{translate('Chuyến bay')}}:
                                            </div>
                                            <div class="col-md-12">
                                                <input class="form-control" name="flight_form[flight]"  id="flight_form_flight"/>
                                            </div>
                                        </div>
									</div>
									<div class="col-md-3">
                                        <div class="row padding_top">
                                            <div class="col-md-12">
                                                {{translate('Giờ hạ cánh')}}:
                                            </div>
                                            <div class="col-md-12">
                                                <input class="form-control" name="flight_form[flight_time]"  id="flight_form_flight_time"/>
                                            </div>
                                        </div>
									</div>
									<div class="col-md-3">
                                        <div class="row padding_top">
                                            <div class="col-md-12">
                                                {{translate('Mã số chuyến bay')}}:
                                            </div>
                                            <div class="col-md-12">
                                                <input class="form-control" name="flight_form[flight_code]"  id="flight_form_flight_code"/>
                                            </div>
                                        </div>
									</div>
									<div class="col-md-3">
                                        <div class="row padding_top">
                                            <div class="col-md-12">
                                                {{translate('Ngày')}}:
                                            </div>
                                            <div class="col-md-12">
                                                <input class="form-control" name="flight_form[flight_day]"  id="flight_form_flight_day"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>