<!--_booking_step3_driver_info-->
			
			<div class="col-md-6">
                <div class="check_datxe">
                    <h4>Thông tin tài xế</h4>
                    <p>Tuyến:</p>
                    <p>Tình trạng:</p>
                    <p>Tên Lái Xe:</p>
                    <p>Điện thoại:</p>
                    <p>Biển Xe</p>
                    <hr/>
                        <h4>Đánh giá</h4>
                    <p>Sau khi chuyến đi kết thúc, Quí khách vui lòng phản hồi về chất lượng phục vụ của chúng tôi nâng cao chất lượng dịch vụ cho những chuyến đi tiếp theo bằng một trong các cách sau:</p>
                    <p><strong>1) Phản hồi qua Web</strong></p>
                    <p>Quí khách Vào phần Tra cứu vé, chọn nút Phản hồi </p>
                    <br/>
                    <p><strong>2) Phản hồi qua SMS </strong></p>
                    <p>Quí khách soạn tin: RAT 23091 <sao> Gửi 8077</p>
                    <p><sao> có giá trị từ 1 đến 5</p>
                    <p>5 là đánh giá tốt nhất</p>
                    <p>1 là đánh giá kém nhất</p>
                </div>
            </div>