		<div class="row">
			<div class="col-md-12 padding_top">
				<label for="dat_ho_form_enable">
					<input type="checkbox" value="dat_ho" name="dat_ho_form[enable]"  id="dat_ho_form_enable"/> {{translate('Tôi đặt hộ người khác')}}
				</label>
			</div>
			<div class="col-md-8 box_xs datho">
				<p>{{translate('Vui lòng cung cấp thông tin người đi')}}</p>
				<div class="row">
					<div class="col-md-3"><p>{{translate('Họ tên')}}*:</p></div>
					<div class="col-md-9">
						<input class="form-control" name="dat_ho_form[name]" id="dat_ho_form_name"/>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-3"><p>{{translate('Điện thoại')}}*:</p></div>
					<div class="col-md-9">
						<input class="form-control" name="dat_ho_form[phone]" id="dat_ho_form_phone"/>
					</div>
				</div>
				<div class="row padding_top">
					<div class="col-md-3"><p>{{translate('Địa chỉ')}}*:</p></div>
					<div class="col-md-9">
						<input class="form-control" name="dat_ho_form[address]" id="dat_ho_form_address"/>
					</div>
				</div>
			</div>
		</div>