<div class="row">
	<div class="col-md-4">
		<label for="booking_regularly">
			<input type="checkbox" value="booking_regularly" id="booking_regularly"/> {{translate('Tôi muốn đặt xe đi thường xuyên')}}
		</label>
	</div>
	<div class="col-md-12 col-sm-12" id="show_booking_regularly">
		<div class="booking_regular_bg">
			<div class="row">
				<div class="text_box">
					<p class="padding_top">{{translate('Ngày bắt đầu')}}</p>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-md-offset-1 text_box">
					<p class="padding_top">{{translate('Khoảng thời gian')}}</p>
				</div>
				<div class="col-md-2">
					<select class="form-control">
						<option>{{translate('1 tuần')}}</option>
						<option>{{translate('1 tháng')}}</option>
						<option>{{translate('3 tháng')}}</option>
						<option>{{translate('6 tháng')}}</option>
						<option>{{translate('1 năm')}}</option>
					</select>
				</div>
			</div>
			<div class="row box_sm">
				<div class="col-md-12">
					<p>{{translate('Chọn ngày:')}}</p>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 2')}}					
					</label>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 3')}}					
					</label>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 4')}}					
					</label>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 5')}}					
					</label>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 6')}}					
					</label>
				</div>
				<div class="col-md-1 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Thứ 7')}}					
					</label>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<label>
						<input type="checkbox"> {{translate('Chủ nhật')}}					
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2  col-xs-6 text-right">
					<p><strong>{{translate('Tổng số:')}}</strong></p>
				</div>
				<div class="col-md-2 col-xs-6">
					<p>{{translate('10 chuyến')}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-xs-6 text-right">
					<p><strong>{{translate('Đơn giá:')}}</strong></p>
				</div>
				<div class="col-md-2 col-xs-6">
					<p>{{translate('170.000 Đ')}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-xs-6 text-right">
					<p><strong>{{translate('Tổng tiền:')}}</strong></p>
				</div>
				<div class="col-md-2 col-xs-6">
					<p>{{translate('1.770.000')}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-xs-6 text-right">
					<p><strong>{{translate('Giảm giá:')}}</strong></p>
				</div>
				<div class="col-md-2 col-xs-6">
					<p>{{translate('10%')}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-xs-6 text-right">
					<p><strong>{{translate('Thanh toán:')}}</strong></p>
				</div>
				<div class="col-md-2">
					<p>{{translate('1.530.000 Đ')}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p><strong>{{translate('Quý khách vui lòng thanh toán trả trước')}}</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>