<!--_booking_step3_ticket_info-->
			
			<div class="col-md-6">
                <div class="check_datxe">
                    <h4>Thông tin vé</h4>
                    <p style="font-size: 18px">Mã vé: 12345</p>
                    <p class="hightlight">Hà Nội - Trong thành phố</p>
                    <p>Giờ đi:</p>
                    <p>Ngày đi:</p>
                    <p>Phương tiện:</p>
                    <p>Hình thức:</p>
                    <p>Trả khách:</p>
                    <p>Số lượng:</p>
                    <p>Hình thức thanh toán:</p>
                </div>
                <div class="box_sm">
                    <p>Trong trường hợp muốn hủy vé:</p>
                    <p>Soạn tin:</p>
                    <p><span class="hightlight"> DES MãVé</span> Gửi <span class="hightlight">8077</span> (Miễn phí)</p>
                    <p>(Chỉ có thể hủy vé trước khi đi 12 tiếng)</p>
                </div>
            </div>