<div class="gray_bg box_xs">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>{{translate('Bạn chưa đăng nhập !')}}</h4>
                <p>{{translate('- Đăng nhập để được cộng điểm khách hàng thường xuyên và hưởng lợi ích của khách hàng thường xuyên của dichung.vn')}}</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 box_md">
                        <button class="btn btn_blue btn_sm">{{translate('Đăng nhập')}}</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 box_md">
                        <button class="btn btn_orange btn_sm">{{translate('Đăng kí')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>