<!--_brand_info_rating_rating.html-->
<h4 class="text-uppercase">Viết đánh giá</h4>
				<div class="row">
					<div class="col-md-4">
						<p>Giá cước</p>
						<p>*****</p>
					</div>
					<div class="col-md-4">
						<p>Chất lượng xe</p>
						<p>*****</p>
					</div>
					<div class="col-md-4">
						<p>Chăm sóc khách hàng</p>
						<p>*****</p>
					</div>
				</div>
				<textarea class="form-control" rows="3"></textarea>
				<div class="row">
					<div class="col-md-2 text-right padding_top">
						<p class="padding_top"><strong>Mã vé</strong></p>
					</div>
					<div class="col-md-4 padding_top">
						<input class="form-control"/>
					</div>
					<div class="col-md-6 padding_top">
						<a class="btn btn_orange">Gửi đánh giá</a>
					</div>
				</div>