<!--_brand_info_rating_brand.html-->
<div class="brand-total-rating">
					<div class="col-md-4">
						<img src="/img/ava.jpg" width="100%"/>
						<p class="text-uppercase text-center padding_top">Mai Linh</p>
					</div>
					<div class="col-md-8">
						<div class="total-rating">
							<div class="star">
								*****
							</div>
							<div class="number">
								<h1>3.9</h1>
								<p><small>50 Đánh giá</small></p>
							</div>
						</div>
						<div class="row padding_top">
							<div class="col-md-5">
								<p>Giá cước</p>
							</div>
							<div class="col-md-7">
								<p>*****</p>
							</div>
							<div class="col-md-5">
								<p>Chất lượng xe</p>
							</div>
							<div class="col-md-7">
								<p>*****</p>
							</div>
							<div class="col-md-5">
								<p>Chăm sóc KH</p>
							</div>
							<div class="col-md-7">
								<p>*****</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>