<!--include '_brand_info_rating_rated.html-->
<div class="rated_content box_xs">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-2">
							<img src="/img/ava.jpg" class="img-thumbnail" width="100%"/>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-10">
							<p><a class="text-uppercase">Quỳnh Kul</a> <span style="color:#ff5b2d"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><span><small class="hidden-xs"> Khách hàng đã sử dụng dịch vụ cua Dichungtaxi</small></span><span></p>
							<p><strong>Đánh giá chung: *****</strong></p>
							<p><small>9/6/2014</small></p>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-5">
									<p>Giá cước</p>
								</div>
								<div class="col-md-7">
									<p>*****</p>
								</div>
								<div class="col-md-5">
									<p>Chất lượng xe</p>
								</div>
								<div class="col-md-7">
									<p>*****</p>
								</div>
								<div class="col-md-5">
									<p>Chăm sóc KH</p>
								</div>
								<div class="col-md-7">
									<p>*****</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 rated_note">
							<p>Tôi đi xe Đức Phúc từ bến xe Mỹ Đình về Quảng Ninh. Khi trong người còn 80 nghìn tôi hỏi giá bao nhiêu anh bảo 100k về đến Bãi Cháy nhưng Anh Kô thông cảm cho 20 nghìn đuổi tôi xuống xe thề đến chết tôi cũng Kô đi xe Đức Phúc</p>
						</div>
					</div>
				</div>