<!-- Modal sửa -->
<div class="modal fade" id="sua" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thay đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 padding_top">
                        <p>Mật khẩu hiện tại</p>
                    </div>
                    <div class="col-md-8 padding_top">
                        <input class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding_top">
                        <p>Mật khẩu mới</p>
                    </div>
                    <div class="col-md-8 padding_top">
                        <input class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding_top">
                        <p>Nhập lại Mật khẩu mới</p>
                    </div>
                    <div class="col-md-8 padding_top">
                        <input class="form-control">
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn_sm">Hủy</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn_orange btn_sm">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>