<div class="blue_bg head_">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-4 box_xs text-center">
                            <img src="img/phone.png" class="sm_icon">04.66702266
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4 box_xs text-center">
                            <img src="img/cellphone.png" class="sm_icon">+84934.531.266
                        </div>						
                        <div class="col-md-6 col-sm-4 col-xs-4 box_xs text-center">
                            <script type='text/javascript' >
                                $(document).ready(function(){
                                    $('#popbox').popbox();
                                });
                            </script>
                            <div class='popbox' id="popbox">
                                <a class='open' href='#'>
                                    <img class="sm_icon" src='img/quanlygiaodich.png' style='position:relative;'> {{translate('Quản lý giao dịch')}}
                                </a>

                                <div class='collapse_ql'>
                                    <div class='box'>
                                        <div class='arrow'></div>
                                        <div class='arrow-border'></div>

                                        <div id="subForm" class="popbox_style box_xs">
                                            <p class="title">{{translate('Quản lý giao dịch')}}</p>
                                            <input type="text" class="form-control" placeholder="Nhập mã đặt xe" />
                                            <div style="padding-top: 10px"><input type="text" class="form-control" placeholder="Nhập số điện thoại" /></div>
                                            <div style="padding-top: 10px"><button class="btn btn_sm btn_orange">{{translate('Tra cứu')}}</button></div>
                                            <div class="blue_bg huyve">
                                                <p><span class="title">{{translate('HỦY VÉ ĐÃ ĐẶT')}}</span> {{translate('miễn phí')}}</p>
                                                <p>{{translate('Soạn tin')}} <span class="hightlight">DES {{translate('Mãvé')}}</span> {{translate('Gửi')}} <span class="hightlight">8077</span> </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 box_xs">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a data-toggle="modal" data-target="#dangki"><img src="img/dangki.png" class="sm_icon"> {{translate('Đăng kí')}}</a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a data-toggle="modal" data-target="#dangnhap"><img src="img/dangnhap.png" class="sm_icon">{{translate('Đăng nhập')}}</a>
                        </div>						
						<div class="col-md-3 col-sm-4 col-xs-4">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<a href="http://"><span class="vi"></span></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
							<a href="http://"><span class="en"></span></a>
							</div>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>