<nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id='cssmenu'>
                    <ul>
                        <li class="active"><a href='index.html'>{{translate('Trang chủ')}}</a></li>
                        <li><a href='#'>{{translate('Hướng dẫn đặt xe')}}</a></li>
                        <li><a href='#'>{{translate('Tra cứu chuyến bay')}}</a></li>
                        <li class='has-sub'><a href='#'>{{translate('Khách hàng')}}</a>
                            <ul>
                                <li><a href='regular_customers.html'>{{translate('Khách hàng thường xuyên')}}</a></li>
                                <li><a href='institutional_customers.html'>{{translate('Khách hàng tổ chức')}}</a></li>
                            </ul>
                        </li>
                        <li class='has-sub'><a href='#'>{{translate('Đối tác')}}</a>
                            <ul>
                                <li><a href='#'>{{translate('Đối tác quảng bá')}}</a></li>
                                <li><a href='#'>{{translate('Đối tác vận chuyển')}}</a></li>
                            </ul>
                        </li>
                        <li><a href='contact.html'>{{translate('Khuyến mãi')}}</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </nav>