<!-- _index_body_booked.html -->
<div class="white_bg booked">
		<div class="container">
			<div class="row">
				<div class="col-md-4 box_xs">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="http://placehold.it/57x57" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<p>{{translate('Một khách đã đặt chuyến đi')}} <strong>Thái Hà, Láng Hạ, Hà Nội - sân bay Nội Bài</strong></p>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<p><img src="/img/loader.gif"/> <small>{{translate('15p trước')}}</small></p>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">									
									<p class="orange_text text-right"><strong>180.000 Đ</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 box_xs">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="http://placehold.it/57x57" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<p>{{translate('Một khách đã đặt chuyến đi')}} <strong>Thái Hà, Láng Hạ, Hà Nội - sân bay Nội Bài</strong></p>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<p><img src="/img/loader.gif"/> <small>{{translate('15p trước')}}</small></p>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">									
									<p class="orange_text text-right"><strong>180.000 Đ</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 box_xs">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<img src="http://placehold.it/57x57" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<p>{{translate('Một khách đã đặt chuyến đi')}} <strong>Thái Hà, Láng Hạ, Hà Nội - sân bay Nội Bài</strong></p>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<p><img src="/img/loader.gif"/> <small>{{translate('15p trước')}}</small></p>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">									
									<p class="orange_text text-right"><strong>180.000 Đ</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>