<!-- _index_body_benefit.html -->
<div class="gray_bg box_md">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-1"></div>
					<h5>{{translate('Đặt xe online')}}</h5>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-2"></div>
					<h5>{{translate('Kiểm tra giá online')}}</h5>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-3"></div>
					<h5>{{translate('Chọn và so sánh hãng')}}</h5>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-4"></div>
					<h5>{{translate('Phương thức thanh toán linh hoạt')}}</h5>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-5"></div>
					<h5>{{translate('Chủ động hủy chuyến đi')}}</h5>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 box_xs">
					<div class="icon-6"></div>
					<h5>{{translate('Tặng tiền cho chuyến đi thứ 11, 21, 31 ...')}}</h5>
				</div>
			</div>
			<div class="row box_xs">
				<div class="col-md-offset-4 col-md-4">
					<a class="btn btn_blue_outline">{{translate('Tìm hiểu thêm')}}</a>
				</div>
			</div>
		</div>
	</div>