<!-- Page Content -->
    <div class="white_bg">
        <div class="container box_sm">
            <div class="col-md-4 col-sm-4 benefit">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="box_sm"><img src="img/vanminh.png" width="100%"></p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4>{{translate('Văn minh, tiết kiệm')}}</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu velit lorem. Morbi laoreet tortor quis lectus vehicula molestie. </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 benefit">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="box_sm"><img src="img/tietkiem.png" width="100%"></p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4>{{translate('Thanh toán linh hoạt')}}</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu velit lorem. Morbi laoreet tortor quis lectus vehicula molestie. </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 benefit">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="box_sm"><img src="img/dichvu.png" width="100%"></p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4>{{translate('Dịch vụ khách hàng')}}</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu velit lorem. Morbi laoreet tortor quis lectus vehicula molestie. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>