<!--_index_body_invite_friend.html-->
<div class="invite_friends">
	<div class="container">
		<div class="row box_lg">
			<div class="col-md-offset-2 col-md-8 box_xs text-center">
				<h3 class="text-uppercase">Nhân đôi niềm vui khi chia sẻ với bạn bè</h3>
				<p>Bạn sẽ nhận được mã giảm giá <span class="h4"><strong>50.000Đ</strong></span> khi có người bạn thực hiện chuyến đi đầu tiên</p>
			</div>
			<div class="col-md-offset-4 col-md-4 box_md">
				<a class="btn btn_orange">Chia sẻ với bạn bè</a>
			</div>
		</div>
	</div>
</div>
