<!-- Modal đăng nhập -->
<div class="modal fade" id="dangnhap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{translate('Đăng nhập')}}</h4>
            </div>
            <div class="modal-body dangnhap">
                <div class="col-md-4 padding_top">
                    <p>{{translate('Số điện thoại')}}</p>
                </div>
                <div class="col-md-8 padding_top">
                    <input class="form-control">
                </div>
                <div class="col-md-4 padding_top">
                    <p>{{translate('Mật khẩu')}}</p>
                </div>
                <div class="col-md-8 padding_top">
                    <input class="form-control">
                </div>
                <div class="col-md-5 box_xs">
                    <hr/>
                </div>
                <div class="col-md-2">
                    <p style="text-align: center">{{translate('Hoặc')}}</p>
                </div>
                <div class="col-md-5 box_xs">
                    <hr/>
                </div>
                <div class="col-md-12" style="text-align: center">
                    <a><img src="img/loginfb.png"></a>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn_orange btn_sm">{{translate('Đăng kí')}}</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn_blue btn_sm">{{translate('Đăng nhập')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>