<div class="gray_bg box_xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{translate('Nhập email để nhận thông tin mới nhất và dịch vụ khuyến mãi tại các địa điểm')}}:</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 box_xs">
                            <select class="form-control">
                                <option>{{translate('Chọn điểm đi')}}</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 box_xs">
                            <select class="form-control">
                                <option>{{translate('Chọn điểm đến')}}</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 box_xs">
                            <input type="email" class="form-control" placeholder="Nhập email của bạn">
                        </div>
                        <div class="col-md-2 col-sm-2 box_xs">
                            <button class="btn btn_orange btn_sm">{{translate('Đăng kí')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>