<!--_widget_short_table.html-->
<div class="demo_widget box_xs">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<input class="form-control" placeholder="Điểm đi">
							</div>
							<div class="col-md-12 padding_top">
								<input class="form-control" placeholder="Điểm đến">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 padding_top">
								<select class="form-control">
									<option>Loại xe</option>
									<option>Xe 4 chỗ</option>
									<option>Xe 7 chỗ</option>
								</select>
							</div>
							<div class="col-md-6 padding_top">
								<input class="form-control" placeholder="Ngày">
							</div>
							<div class="col-md-12 padding_top">
								<a class="btn btn_blue">Xem giá</a>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr/>
					</div>
					<div class="col-md-6 suggest">
						<h5 class="best">Đi riêng - rẻ nhất</h5>
						<a class="btn btn_blue_outline btn-sm">180.000Đ</a>
					</div>
					<div class="col-md-6 suggest">
						<h5 class="chip">Đi chung - rẻ nhất</h5>
						<a class="btn btn_orange_outline btn-sm">150.000Đ</a>
					</div>
					<div class="col-md-12 padding_top text-center">
						<a>Xem tất cả</a>
					</div>
					<div class="clear"></div>
				</div>