{% extends "layout.html"%}
{% block body %}
	<div style="height:500px">
		<img src="img/IMG_4321_2.jpg" width="100%"/>
	</div>
	<div class="box_md">
		<div class="container">
		<div class="row">
			<div class="col-md-12 text-center"> 
				<h2 class="hightlight">Về Đi Chung</h2>

				<p>Gheptour.vn được phát triển và vận hành bởi công ty Cổ phần Đi Chung, một doanh nghiệp xã hội được thành lập với định hướng sử dụng công nghệ giúp mọi người đi lại văn minh và thân thiện hơn với môi trường. Chúng tôi phát triển các giải pháp  đặt chỗ trực tuyến trên nền tảng trực tuyến và di động cho nhiều loại phương tiện khác nhau, trong đó tập trung vào nhu cầu đi chung xe.

				Chúng tôi phát triển cộng đồng Dichung.vn với tầm nhìn xây dựng đi chung xe nói riêng và đi lại không tác động nói chung thành  văn hóa di chuyển mới tại Việt Nam trong vòng 3-5 năm tới.</p>
			</div>
			<div class="clear">
			</div>
			<hr/>
			<div class="col-md-9 box_xs">
				<h4 class="hightlight">1. Qui định về xuất trình và kiểm tra vé</h4>
				<p>a. Hành khách cần xuất trình mã vé đặt chỗ trước khi lên xe. Mã số đặt chỗ này được chúng tôi gửi cho Hành khách qua tin nhắn trên điện thoại di động hoặc bằng Email đã đăng ký. </p>
				<p>b. Trong trường hợp Hành khách đánh mất mã số đặt chỗ, vẫn có thể đi xe nếu có giấy tờ tùy thân khớp với thông tin đã khai báo khi đặt chỗ ( CMND, hộ chiếu..) </p>
				<p>c.  Mã số đặt chỗ chỉ có giá trị theo chuyến ngày và giờ tương ứng với mã số đặt chỗ đó.</p>
			</div>
			<div class="col-md-3 box_xs">
				<img src="img/IMG_4320.jpg" width="100%">
			</div>
			<div class="clear"></div>
			<hr/>
			<div class="col-md-9 box_xs">
				<h4 class="hightlight">1. Qui định về xuất trình và kiểm tra vé</h4>
				<p>a. Hành khách cần xuất trình mã vé đặt chỗ trước khi lên xe. Mã số đặt chỗ này được chúng tôi gửi cho Hành khách qua tin nhắn trên điện thoại di động hoặc bằng Email đã đăng ký. </p>
				<p>b. Trong trường hợp Hành khách đánh mất mã số đặt chỗ, vẫn có thể đi xe nếu có giấy tờ tùy thân khớp với thông tin đã khai báo khi đặt chỗ ( CMND, hộ chiếu..) </p>
				<p>c.  Mã số đặt chỗ chỉ có giá trị theo chuyến ngày và giờ tương ứng với mã số đặt chỗ đó.</p>
			</div>
			<div class="col-md-3 box_xs">
				<img src="img/IMG_4320.jpg" width="100%">
			</div><div class="clear"></div>
			<hr/>
			<div class="col-md-9 box_xs">
				<h4 class="hightlight">1. Qui định về xuất trình và kiểm tra vé</h4>
				<p>a. Hành khách cần xuất trình mã vé đặt chỗ trước khi lên xe. Mã số đặt chỗ này được chúng tôi gửi cho Hành khách qua tin nhắn trên điện thoại di động hoặc bằng Email đã đăng ký. </p>
				<p>b. Trong trường hợp Hành khách đánh mất mã số đặt chỗ, vẫn có thể đi xe nếu có giấy tờ tùy thân khớp với thông tin đã khai báo khi đặt chỗ ( CMND, hộ chiếu..) </p>
				<p>c.  Mã số đặt chỗ chỉ có giá trị theo chuyến ngày và giờ tương ứng với mã số đặt chỗ đó.</p>
			</div>
			<div class="col-md-3 box_xs">
				<img src="img/IMG_4320.jpg" width="100%">
			</div>
			<div class="col-md-offset-5 col-md-3">
				<a class="btn btn_orange">Đăng kí</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %} 