{% extends "layout.html"%}
{% block login_remind %}{% include '_booking_login_remind.html' %}{% endblock%}
{% block booking_step %}{% include '_booking_step.html' %}{% endblock%}
{% block body %}
<div class="white_bg box_md">
    <div class="container">
		<div class="row">
			<div class="col-md-8">
                {% include '_booking_step2_customer_info.html' %}
                {% include '_booking_step2_dat_ho.html' %}
                <div class="row"><hr/></div>
				{% include '_booking_step2_invoice.html' %}
				<div class="row"><hr/></div>
                {% include '_booking_step2_payment.html' %}
				<!--<div class="row"><hr/></div>
                {% include '_booking_step2_verify.html' %}
                <div class="row padding_top">
					<label for="customer_form_term">
						<input type="checkbox" name="customer_form[term]"  id="customer_form_term"> {{translate('Tôi đồng ý với')}} <a href="">{{translate('Chính sách vận chuyển')}}</a> {{translate('của')}} dichungtaxi.com
					</label>
                </div>-->
            </div>
            <div class="col-md-4">				
				{% include '_booking_step2_log.html' %}
                {% include '_booking_step2_warning.html' %}
            </div>
		</div>
        <div class="row padding_top">
            <div class="col-md-offset-4 col-md-4">
                <button class="btn btn_blue btn_lg">{{translate('Thanh toán')}}</button>
            </div>
			<div class="col-md-12 text-center padding_top">
				<p>Bấm <strong>thanh toán</strong> đồng nghĩa với việc bạn đã đồng ý với <a>Chính sách vận chuyển</a> của dichungtaxi.com</p>
			</div>
        </div>
    </div>
</div>
{% endblock %} 
{% block test%}Đặt xe{% endblock %}